*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background{
    background-image: url('./bgimg1.jpg');
    background-size:cover;
}
.btn{
    border:2px solid;
    border-radius:50px;
    width:250px;
    background-color: aqua;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn:hover {
    border:2px solid rgb(83, 158, 158);
    border-radius:50px;
    color: rgb(2, 111, 141);
    box-shadow: 5px 5px rgb(136, 193, 209);
    transition: 0.7s;
}
.reg{
    box-shadow: 4px 4px rgb(136, 193, 209);
    border:2px solid rgb(83, 158, 158);
    padding: 7px;
}